# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
env/
.Python

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.claude/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Data (si fichiers lourds)
*.csv
*.pkl
*.pt
